<div class="container" id=container>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" [class.active]="isLoginFormToShow" id="login-form-link" (click)=displayLoginForm()>Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" [class.active]="!isLoginFormToShow" id="register-form-link" (click)=displayRegisterForm($event)>Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <app-login *ngIf="isLoginFormToShow"></app-login>

              <app-register *ngIf="!isLoginFormToShow"></app-register>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
