<form id="login-form" method="post" role="form" style="display: block;">
  <div class="form-group">
    <input type="email" name="email" id="email" class="form-control" placeholder="Username or Email Address" required autofocus [(ngModel)]="credential">
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required [(ngModel)]="password">
  </div>
  <div class="form-group text-center">
    <input type="checkbox" name="remember" id="remember">
    <label for="remember"> Remember Me</label>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)=logIn()>Log In</button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</form>
