<form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
  <div class="form-group">
    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" [(ngModel)]="user.username">
  </div>
  <div class="form-group">
    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" [(ngModel)]="user.email">
  </div>
  <div class="form-group">
    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="user.password">
  </div>
  <div class="form-group">
    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)=register()>Register Now</button>
        </div>
    </div>
  </div>
</form>

<!-- [formGroup]="registerForm"  #formDir="ngForm" -->
