<bs-modal #modal [keyboard]="true" [backdrop]="'static'">
  <div>
    <!-- modal header -->
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">{{chat.name}}</h4>
    </bs-modal-header>

    <!-- modal body -->
    <bs-modal-body>
      <ul class="nav nav-pills nav-stacked scrollClass">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let message of messages">
              <td>{{message.date}} {{message.username}}: {{message.text}}</td>
            </tr>
          </tbody>
        </table>
      </ul>
    </bs-modal-body>

    <!-- modal footer -->
    <bs-modal-footer>
      <textarea class="form-control" rows="5" [(ngModel)]="message.text"></textarea>
      <button type="button" class="btn btn-default" (click)="sendMessage()">Send</button>
      <button *ngIf="!isInCS" type="button" class="btn btn-default" (click)="enterCricticalSection()">Enter CS</button>
      <button *ngIf="isInCS" type="button" class="btn btn-default" (click)="leaveCricticalSection()">Leave CS</button>
    </bs-modal-footer>
  </div>
</bs-modal>