<div class="col-md-6">
  <h2>Available Chats</h2>
  <ul class="nav nav-pills nav-stacked scrollClass">
    <table class="table table-striped">
      <!--<thead>
        <tr>
          <th>Chat name</th>
        </tr>
        <tr>
          <th>Operations</th>
        </tr>
      </thead>-->
      <tbody>
        <tr *ngFor="let chat of availableChats; trackBy: chat?.id">
          <td>{{chat.name}}</td>
          <td>
            <input type="button" (click)="subscribeToChat(chat)" class="btn btn-xs btn-primary" value="Subscribe">
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
</div>