<div class="col-md-6">
  <h2>Your Chats</h2>
  <ul class="nav nav-pills nav-stacked scrollClass">
    <table class="table table-striped">
      <!--<thead>
            <tr>
              <th>Chat name</th>
            </tr>
            <tr>
              <th>Operations</th>
            </tr>
          </thead>-->
      <tbody>
        <tr *ngFor="let chat of yourChats; let i = index; trackBy: chat?.id">
          
          <td>{{chat.name}}</td>
          <td>
            <input type="button" (click)="openChat(i)" class="btn btn-xs btn-primary" value="Open">
            <input type="button" (click)="leaveChat(chat)" class="btn btn-xs btn-primary" value="Leave">
          </td>
          <app-chat [chat]="chat"></app-chat>
          
          <!--<bs-modal #modal [keyboard]="true" [backdrop]="'static'">
              <div>
                <!-- modal header 
                <bs-modal-header [showDismiss]="true">
                  <h4 class="modal-title">{{chat.name}}</h4>
                </bs-modal-header>
            
                <!-- modal body 
                <bs-modal-body>
                  <ul class="nav nav-pills nav-stacked scrollClass">
                    <table class="table table-striped">
                      <tbody>
                        <!--<tr *ngFor="message of messages">
                          <td>{{message.text}}</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                        <tr>
                          <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit dignissimos maxime odit ex deleniti, sit facere
                            sint magnam praesentium quod aut illo vitae odio laudantium consectetur vel qui eius labore.</td>
                        </tr>
                      </tbody>
                    </table>
                  </ul>
                </bs-modal-body>
            
                <!-- modal footer 
                <bs-modal-footer>
                  <textarea class="form-control" rows="5"></textarea>
                  <button type="button" class="btn btn-default" (click)="sendMessage()">Send</button>
                  <button type="button" class="btn btn-default" (click)="enterCricticalSection()">Enter CS</button>
                </bs-modal-footer>
              </div>
            </bs-modal>-->
        </tr>
      </tbody>
    </table>
  </ul>
</div>

<!-- Chat display modal -->
<!--<app-chat-display-modal [chatOpened]="chatOpened"></app-chat-display-modal>-->