<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Welcome {{username}}!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-8 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter new chat name" [(ngModel)]="chatName" name="chatName">
            </div>
            <div class="col-12 col-md-4">
              <button type="submit" class="btn btn-block btn-lg btn-primary" (click)=createChat()>Create New Chat</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<!-- Chats section -->
<section class="features-icons bg-light text-center">

  <app-available-chats [availableChats]="availableChats" (refresh)="getChats()"></app-available-chats>

  <app-your-chats [yourChats]="yourChats" (refresh)="getChats()"></app-your-chats>

</section>

<!-- Logout footer -->
<footer>
  <div class="footer">
    <button type="submit" class="btn btn-block btn-lg btn-primary" (click)=logout()>Logout</button>
  </div>
</footer>
